name: "UI deploy QA"
on:
  push:
    branches:
      - main
jobs:
  deploy-qa:
    name: Deploy to QA site
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node 12
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    - name: Install dependencies
      run: yarn
    - name: Build site
      run: |
        VUE_APP_INFURA_KEY=${{ secrets.VUE_APP_INFURA_KEY_QA }} VUE_APP_IS_MAINNET=false yarn build
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.QA_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.QA_AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.QA_AWS_REGION }}
    - name: Deploy site to S3
      run: |
        aws s3 sync --delete --only-show-errors dist/ ${{ secrets.QA_S3_BUCKET }}
    - name: Invalidate CloudFront cache
      run: |
        aws cloudfront create-invalidation --distribution-id ${{ secrets.QA_CLOUDFRONT_DISTRIBUTION }} --paths "/*"
